workflows/Phase2 A Slot_Booking.json
{
  "name": "Phase2 A Slot_Booking",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 1,
              "unit": "minutes"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "12NjKtaHkQEjB2uO3eAwQBp1Rhssajml00ELC6jsEymg",
          "mode": "list",
          "cachedResultName": "n8n-HR-Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12NjKtaHkQEjB2uO3eAwQBp1Rhssajml00ELC6jsEymg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2021747227,
          "mode": "list",
          "cachedResultName": "Interview_Slot_Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12NjKtaHkQEjB2uO3eAwQBp1Rhssajml00ELC6jsEymg/edit#gid=2021747227"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "75173f21-3179-4718-a245-d70cfb0ad179",
      "name": "Google Sheets Trigger",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "33QnE6HiLPRrnN9I",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12NjKtaHkQEjB2uO3eAwQBp1Rhssajml00ELC6jsEymg",
          "mode": "list",
          "cachedResultName": "n8n-HR-Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12NjKtaHkQEjB2uO3eAwQBp1Rhssajml00ELC6jsEymg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 916050885,
          "mode": "list",
          "cachedResultName": "Booked_Slots",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12NjKtaHkQEjB2uO3eAwQBp1Rhssajml00ELC6jsEymg/edit#gid=916050885"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "slot",
              "lookupValue": "={{ $json[\"Column 2\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "1ed0bdf4-bfae-4a42-b30c-ca4f77480cc2",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qm0DqWL7Wg9QgWzw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d6c870e5-5db9-4579-b7fc-8889e96d5294",
              "leftValue": "={{ $items(\"Get row(s) in sheet\").length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "1ae82963-2061-4929-ba4b-7224248f8f03",
      "name": "If",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"email\"] }}\n{{ $('Google Sheets Trigger').item.json['Column 3'] }}",
        "subject": "Interview Slot Unavailable",
        "message": "=<h2>Interview Slot Unavailable</h2>\n\n<p>Hello Candidate,</p>\n\n<p>\nThe interview slot you selected has already been booked by another candidate.\n</p>\n\n<p>\nPlease choose another available slot using the interview form.\n</p>\n\n<p>\nRegards,<br>\nHR Team\n</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        -96
      ],
      "id": "9fde6cd0-4a2a-4aea-9036-6884f2b35b87",
      "name": "Send a message",
      "webhookId": "286001db-950d-451f-94f8-608a006fc4d1",
      "credentials": {
        "gmailOAuth2": {
          "id": "NSPF3ucbOiiiTsrA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12NjKtaHkQEjB2uO3eAwQBp1Rhssajml00ELC6jsEymg",
          "mode": "list",
          "cachedResultName": "n8n-HR-Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12NjKtaHkQEjB2uO3eAwQBp1Rhssajml00ELC6jsEymg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 916050885,
          "mode": "list",
          "cachedResultName": "Booked_Slots",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12NjKtaHkQEjB2uO3eAwQBp1Rhssajml00ELC6jsEymg/edit#gid=916050885"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json[\"Email Address\"] }}",
            "slot": "={{ $json[\"Select Interview Slot\"] }}",
            "timestamp": "={{ $now.format('DD MMM YYYY - hh:mm A') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "slot",
              "displayName": "slot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        160
      ],
      "id": "d821494b-fb59-4f46-a6df-dee21787ac6a",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qm0DqWL7Wg9QgWzw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"Email Address\"] }}",
        "subject": "Interview Slot Confirmed",
        "message": "=<h2>Interview Slot Confirmed</h2>  <p>Hello Candidate,</p>  <p>Your interview slot has been confirmed successfully.</p>  <p> <b>Selected Slot:</b><br> {{ $json[\"Select Interview Slot\"] }} </p>  <p>Regards,<br>HR Team</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1072,
        160
      ],
      "id": "cc154cf7-d63e-49cf-9a21-853387f8b937",
      "name": "Send a message1",
      "webhookId": "35f6db51-8f69-4a91-83e8-d80dd95bb865",
      "credentials": {
        "gmailOAuth2": {
          "id": "NSPF3ucbOiiiTsrA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "yuvarajatummalacheruvu567@gmail.com",
          "mode": "list",
          "cachedResultName": "yuvarajatummalacheruvu567@gmail.com"
        },
        "start": "={{ DateTime.fromFormat($json[\"Column 2\"], \"dd MMM yyyy - h:mm a\").toISO() }}",
        "end": "={{ DateTime.fromFormat($json[\"Column 2\"], \"dd MMM yyyy - h:mm a\").plus({ hours: 1 }).toISO() }}",
        "additionalFields": {
          "attendees": [
            "={{$json[\"Column 3\"]}}"
          ],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "={{ $now.toMillis().toString() }}"
            }
          },
          "description": "HR Interview Scheduled",
          "summary": "=Interview with {{$json[\"Column 3\"]}}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        864,
        160
      ],
      "id": "b1dc3ecd-bc91-41f9-bc36-55b106bd2ca3",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "yoMXPZvKvWvy2Mx6",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d6880ff9-bd8a-44e0-8877-d7e63df71379",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75a10e099eba5d7b79cdfb8df99c389848e3c880d74379b3ba322bfd6cbe4570"
  },
  "id": "wUNrB1axznX9TVoa",
  "tags": []
}